<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="infodisplay">
        <h1>Submitted Info</h1>
        <ul>
            <li>
                Name: {{session["user_name"]}}
            </li>
            <li>
                Dojo Location: {{session["dojo_loc"]}}
            </li>
            <li>
                Favorite Language: {{session["favorite_lang"]}}
            </li>
            <li>
                Comment: {{session["comm"]}}
            </li>
        </ul>
        <a href="/"><button class="goback">Go Back</button></a>
    </div>
</body>
</html>