<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for( 'static', filename='style.css')}}">
</head>
<body>
    <h1>Welcome  {{one_user.first_name}}</h1>
    <h1>{{one_recipe.name}}</h1>
    <div class="wholepage">
        <div class="halfpage">
            <table>
                <tbody>
                        <tr>
                            <td>Description:</td>
                            <td>{{one_recipe.description}}</td>
                        </tr>
                        <tr>
                            <td>Under 30 minutes:</td>
                            <td>
                                {% if one_recipe.under_30_min == 1%}
                                    Yes
                                {%else%}
                                    No
                                {%endif%}
                            </td>
                        </tr>
                            <td>Instructions:</td>
                            <td>{{one_recipe.instructions}}</td>
                        </tr>
                        <tr>
                            <td>
                                Data Made:
                            </td>
                            <td>
                                {{one_recipe.date_made_on}}
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="halfpage">
            <a href="/dashboard/{{one_user.id}}">Dashboard</a>
            <a href="/logout">logout</a>
        </div>
    </div>
</body>
</html>